 .my-container {
   position: relative;
 }

 .btn-prev,
 .btn-next {
   /* width: 250px;
   height: 5rem; */
   border: none;
 }

 .btn-prev {
   position: absolute;
   top: 30px;
   right: 100px;
   background-color: transparent;
 }

 .btn-next {
   position: absolute;
   bottom: 30px;
   right: 100px;
   background-color: transparent;
 }

 .carousel-inner {
   width: calc(100% - 250px);
 }

 .aside-container {
   position: absolute;
   right: 1px;
   top: 0;
   min-height: 100%;
   /*border: 1px solid black;*/
   width: 250px;
   background-color: azure;
 }

 .carousel-item {
   height: 500px;
 }

 .big-img {
   aspect-ratio: 1/1;
   object-fit: cover;
   width: 100%;
 }

 .fa-chevron-up,
 .fa-chevron-down {
   border-radius: 50%;
   padding: 5px;
   aspect-ratio: 1/1;
   line-height: initial;
   background-color: #cccccc;
 }

 .carousel-indicators {
   padding-right: 250px;
 }

 .mini-box-card {  
   display: flex;
   flex-direction: column;
 }

 .mini-box-card img {
   /* flex-basis: calc(100% / 5);
  flex-grow: 1;*/
   object-fit: cover;
   height: 100px;
   box-sizing: border-box;
   transition: border-color 0.3s;
 }

 .mini-box-card img:hover {
  border: 5px solid lightgrey;
}

 .box-text-main {
   position: absolute;
   bottom: 50px;
   right: 35px;
   text-align: right;
   color: white;
 }


